# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/*


### ----- IDE support -----

# VSCode
.VSCode

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
build/
out/

# Mac
.DS_Store

# Xcode project/build
xcode

